tests/riscv-compliance/
tests/riscv-arch-test/
tests/riscv-tests/
tests/riscv-isa-sim/
sim/dv/
sim/vcs_results
sim/verilator_work
sim/out_*
sim/Mem_init.txt
sim/*.txt
sim/trace*
sim/simv*
sim/ucli.key
sim/.inter*
sim/.vcs*
sim/inter*
sim/novas*
sim/verdiLog
sim/Verdi.ses*
